.title {
    background-image: url(../resources/Banner\ Image.png);
    background-size: cover;
    width: 1320px;
    height: 600px;

}

h4 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;


}

h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;



}

.title {
    padding-top: 177px;
    padding-bottom: 170px;
    height: 250px;
    margin-left: 50px;
    border-radius: 10px;
}

.market {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;

}

.holiday {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.CATEGORIES {
    color: #070211;
    text-align: center;
    ;
    font-size: 48px;
    font-weight: 700;
}

.new-year {
    width: 802.9px;
    height: 500px;
    margin-left: 300px;
    margin-bottom: 30px;

}

.party {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    width: 620px;
    padding-left: 126px;

}

.new-year-calan {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-left: 50px;
}

.btn-year {
    color: orchid;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 50px;
    margin-left: 100px;
    border: none;
}

.hard-work {
    background-image: url(../resources/Vectorrr.png);
    display: flex;
    width: 1320px;
    height: 500px;
    margin-left: 100px;
    margin-top: 50px;

}

.group-pic {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.time {
    color: #F00;

    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.title-locat {
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.location {
    background-color: antiquewhite;
    margin-left: 80px;
    margin-right: 80px;
}

.btn-orange {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    /* gap: 10px; */
}

.bonus {
    background: #FFF;
    width: 1600px;

    margin-top: 30px;

}

.bonus-sub {
    display: flex;
    gap: 120px;
    padding: 10px 10px 10px 10px;
    margin-right: 20px;
}

.offer {
    color: #F00;

    font-size: 24px;
    font-weight: 500;
}

.come-so {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.time-ahead {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;

}

.year {
    color: #F00;
}

.big-market {
    margin-left: 80px;
}

.goat {
    color: #f00;

}

.port {
    color: #070211;
}

.offer-hut:hover {
    border: 2px solid blue;
}


.log-in {
    align-items: center;
    width: 400px;
    height: 72px;
    padding-left: 20px;
    border: 0px;
    margin-left: 200px;


}

.description {
    margin-left: 200px;
}

.mail {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}


.news {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    ;
    text-transform: capitalize;
}

.sub-mit {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    color: white;
    border: 0px;
    padding-bottom: 15px 15px;
}

.user {
    margin-left: 600px;

}

.footer-man {
    display: flex;
    gap: 100px;
    margin-left: 100px;
    color: white;
}

.social-icons {
    text-align: center;

}

hr {
    margin-right: 20px;
    margin-left: 20px;
}

.finished {
    background: #070211;
    margin-top: 30px;
    margin-right: 30px;
}